<h1>Uploaded Bills</h1>

<p>The Billtracker contains <%= Bill.count %> bills in total. You are logged in as a(n) <%= current_user.role %>.</p>

<br>

<%= render "bills", bills: @bills %>

<div>
<%= link_to "Add New Bill", new_bill_path, class:"btn btn-light" %>
</div>
